// Here you can add other styles
@import "custom/checkbox";
nav a {
  color:#fff;
}
main {
  padding-top: 60px;
  min-height: 100vh;
  will-change: padding-left;
  transition: padding .3s cubic-bezier(.25,.8,.25,1);
  /*padding-top: 64px;*/
}
.app-footer {
  margin-left: 260px;
  background: $white;
}
footer a {
  color: #ccc;
}
.main .container-fluid {
  padding: 0 15px;
}
.main-header {
  button.navbar-toggler, .dropdown-toggle {
    outline: 0px;
    padding: 0;
    margin: 0;
    display: flex;
    align-item: center;
    justify-content: center;
    align-content: center;
    will-change:background-color;
    transition: .3s cubic-bezier(.25,.8,.25,1);
    color: $blue-dark !important;
    text-align:center;
    i {
      padding: 0.7rem;
      border-radius: 50%;
    }
    &:hover i {
      background-color: rgba($gray-200,0.5);
    }
    &:focus {
      outline: 0px;
    }
  }
  .dropdown-toggle {
    margin-right: 8px;
    font-size: $navbar-toggler-font-size;
  }
}

.sidebar {
  max-width: 100%;
  // overflow-y: auto;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 0 0 100px;
  pointer-events: auto;
  position: fixed;
  transition: .3s cubic-bezier(.25,.8,.25,1);
  width: 260px;
  height: 100vh;
  top: 0;
  left: 0;
  will-change: padding-left;
  z-index: 5;
  background: $blue-dark;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  .nav-link {
    // overflow: hidden;
    i {
      color: $white;
    }
    &:before {
      content: "";
      position: absolute;
      width: 4px;
      height: 100%;
      top: 0;
      left: 0;
      background: transparent;
    }
    &:hover {
      background: rgba($gray-100,0.3);
      &:before {
        background: theme-color("primary");
        // animation-name: slideInUp;
        // animation-duration: 0.3s;
        // animation-fill-mode: both;
      }
      // &:after{
      //   background: rgba($gray-100,0.3);
      //   content: "";
      //   position: absolute;
      //   max-width: 300px;
      //   height: 100%;
      //   top: 0;
      //   right: 0;
      //   z-index: 2;
      // }
    }
    &.active {
      background: theme-color("primary");
      i {
        color: $white;
      }
    }
  }
}

// @keyframes slideInUp {
//     0% {
//         transform: translate3d(0,-100%,0);
//         visibility: visible
//     }

//     to {
//         transform: translateZ(0)
//     }
// }


.main-header {
  width: 100%;
  max-height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  transition: .3s cubic-bezier(.25,.8,.25,1);
  will-change: padding-left;
}

nav.app-header.navbar  {
  background: #F0F3F4;
  min-height: 60px; 
  border-bottom: 1px solid #D8D8D8;
  display: flex;
  will-change: transform;
  align-items: center;
}

.main, nav.app-header.navbar {
  padding-left: 260px;
}

.sidebar-hidden {
  .sidebar {
    transform: translateX(-260px);
  }
  .main, nav.app-header.navbar {
    padding-left: 0;
  }
}

.content-top {
  padding-top: 16px;
  padding-bottom: 8px;
  h1 {
    font-weight: bold;
    color: $blue-dark;
  }
}

.brand-logo {
  width: 230px;
  height: 70px;
  margin: 16px auto;
}
.sidebar-nav {
  width: 100%;
  margin-top: 8px;
  min-height: calc(100vh - 120px);
  // min-height: 100vh;
}
.sidebar-nav .nav-item {
  position: relative;
  margin: 0;
  transition: background .3s ease-in-out;
}
.nav-dropdown.open {
  > a.nav-dropdown-toggle {
    > i.fa-folder:before {
      content:"\f07c";
    }
  }
}
.nav-dropdown {
  ul.nav-dropdown-items {
    > li {
      > a {
        padding-left: 15px;
      }
      > ul {
        a {
          padding-left: 30px;
        }
        ul {
          a {
            padding-left: 45px;
          }
          ul {
            a {
              padding-left: 60px;
            }
          }
        }
      }
    }
  }
}
.sidebar .nav {
  width: 260px;
}
.main-logo {
  /*display: block;*/
  /*margin: 0 auto;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

#chartdiv1, #chartdiv2, #chartdiv3 {
  width: 100%;
  height: 400px;
}
#chart-channel-div1 {
  width: 100%;
  height: 450px;
}
.chartdiv a {
  display: none !important;
}
.amcharts-export-menu {
  a {
    display: block !important;
  }
}
th[data-sort] {
  cursor: pointer;
}

.product-width {
  width: 100%;
  margin: 0 auto;
  li {
    padding: 0.5rem;
  }
}

.text-update {
  color: $text-muted !important;
  min-height: 18px;
  display: block;
}

.product-item {
  position: relative;
  border: 1px solid $white;
  border-bottom: 1px solid $table-border-color;
  color: color("blue-dark");
  @include transition($btn-transition);
  cursor: pointer;
  padding-bottom: 0.8rem;
  &:hover {
    background: lighten(theme-color("primary"),55%);
    border: 1px solid theme-color("primary");
    color: inherit;
    text-decoration: none;
  }
  .product-name {
    color: theme-color("primary");
    font-size: $font-size-base;
    margin-top: 0.8rem;
    text-align: left;
  }
  .product-img {
    width: 100%;
    margin: 0 auto;
    max-height: 150px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  a {
    &:hover {
      text-decoration: none;
      span {
        color: theme-color("primary") !important;
      }
    }
    &:focus {
      outline: 0;
    }
  }
  .block-link {
    position: static;
    color: inherit;
    &:hover {
      color: theme-color("primary");
    }
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}

.card-content {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-title {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: left;
  font-size: 1rem;
  // color: theme-color("primary");
  .brand {
    width: 100%;
  }
}
.pdL-more {
  padding-left: 1.2rem !important;
}

.card {
  // overflow: hidden;
  img {
    max-width: 100%;
    max-height: 100%;
  }
  i {
    padding-left: 2px;
  }
  .card-header {
    background: $white;
    border: 0;
    padding: 19px 19px 0;
    &.with-border {
      border-bottom: 1px solid $card-border-color;
    }
  }
}
.action-group {
  position: absolute;
  top: 16px;
  right: 8px;
  .btn {
    margin: 10px 1px;
  }
  .modal-btn {
    margin: -18px 0 0 0;
    padding: 5px;
  }
}
.product-info {
  .card {
    margin-bottom: 10px;
    min-height: 90px;
    ul.row {
      min-height: 48px;
    }
    .card-header {
      padding: 10px 10px 0;
    }
  }
}
.ellipsis-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}

.img-box {
  width: 208px;
  padding: 0 8px;
  .card {
    overflow: hidden;
  }
}

.right-border {
  border-right: 1px solid $card-border-color; 
}

table.product-table {
  margin-bottom: 0;
  border: 1px solid #E2E2E2;
  tbody {
    tr {
      color: $gray-600;
      &:nth-child(even) {
      background-color: $gray-100;
      }
      .text-right {
        font-weight: bold;
      }
      &.price-down {
        background-color: #FFFECF;
        &:nth-child(even) {
          background-color: #FAD59A;
        }
      }
      &.down-line {
        background-color: $orange;
        td {
          padding: 5px;
          color: $white;
        }
      }
      
    }
    a {
      color: $blue;
    }
    .safe-tag {
      color: $red;
    }
  }
}

.scroll-table {
  border: 1px solid $table-border-color;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    // text-align: center;
    li {
      padding: 0.5rem;
      &:first-child {
        max-width: 60px;
        text-align: center;
      }
      &:nth-child(2) {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      &:nth-child(3), {
        max-width: 100px;
        text-align: center;
      }
      &:nth-child(4) {
        max-width: 65px;
        text-align: right;
        padding-right: 15px;
      }
    }
  }
  .table-head {
    border-bottom: (2 * $table-border-width) solid $table-border-color;
  }
  .table-body {
    ul {
      border-bottom: $table-border-width solid $table-border-color;
      height: 40px;
      &:nth-child(even) {
        background-color: $gray-100;
      }
      @include hover {
        background-color: $table-hover-bg !important;
      }
    }
  }
}
.change-up, .change-down {
  font-size: $font-size-lg;
  display: inline-block;
  margin-left: 5px;
}
.change-up {
  color: $red;
  &:before {
    content: "\f062";
  }

}
.change-down {
  color: $green;
  &:before {
    content: "\f063";
  }
}
.table {
  .product-name, .shop-name {
    font-size: $font-size-base;
    font-weight: normal;
    margin: 0;
    max-height: $font-size-base*1.5*2;
    overflow: hidden;
    line-height: 1.5;
    display: inline-block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
  }
}

.channel-table {
  img {
    max-height: 90px;
  }
  tbody {
    td {
    }
    tr {
      color: color("blue-dark");
      border-bottom: 1px solid transparent;
      @include transition($btn-transition);
      &:hover { 
        background: lighten(theme-color("primary"),55%);
        td {
          border-top: 1px solid theme-color("primary");
          border-bottom: 1px solid theme-color("primary");
        }
      }
      &:last-child {
        border-bottom: $table-border-width solid $table-border-color;
      }
    }
  }
}

.table-product-link {
  // max-width: 380px;
  display: block;
}

.min-w {
  min-width: 95px;
}
.min-w55 {
  min-width: 55px;
}
.min-sort {
  min-width: 112px;
}
.min-w122 {
  min-width: 122px;
}

.gray-bg {
  background: $gray-100;
}

.channel-select {
  position: relative;
  display: block;
  width: 15rem;
  height: 2.5rem;
  line-height: 2.5;
  overflow: hidden;
  border-radius: 0.25rem;
  select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 0.5rem;
    cursor: pointer;
    outline: 0;
    box-shadow: none;
    border: 1px solid $table-border-color;
    background-image: none;
    background-color: $white;
    color: $blue-dark;
  }
  span.fa {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1rem;
    pointer-events: none;
    background-color: $white;
    border-radius: 0.25rem;
    border-top: 1px solid $table-border-color;
    border-right: 1px solid $table-border-color;
    border-bottom: 1px solid $table-border-color;
  }
  // &:after {
  //   content: '\25BC';
  //   position: absolute;
  //   font-size: $font-size-base;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   padding: 0 1rem;
  //   pointer-events: none;
  //   transition: .25s all ease;
  //   background-color: $white;
  //   border-radius: 0.25rem;
  //   border-top: 1px solid $table-border-color;
  //   border-right: 1px solid $table-border-color;
  //   border-bottom: 1px solid $table-border-color;
  // }
}

// material style
// modal
// 
.modal-content {
  box-shadow: 0 27px 24px 0 rgba(0,0,0,.2), 0 40px 77px 0 rgba(0,0,0,.22);
  border-radius: 2px;
  border: none;
  .modal-header {
    border-bottom: none;
    padding: 24px;
  }
  .modal-body {
    // padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
  }
  &+.modal-footer {
    padding-top: 0;
  }
  .modal-footer {
    border-top: none;
    padding: 24px;
    button {
      margin: 0;
      padding-left: 16px;
      padding-right: 16px;
      width: auto;
      font-size: $font-size-lg;
    }
    .btn-danger {
      color: $red;
    }
  }
}
.btn, .input-group-btn .btn {
  border: none;
  border-radius: 2px;
  position: relative;
  padding: 8px 30px;
  margin: 10px 1px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  will-change: box-shadow,transform;
  -webkit-transition: -webkit-box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  -o-transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  background: 0 0;
  &:focus, &:active {
    outline: 0px;
    box-shadow: none;
  }
}
.btn:not(.btn-raised).btn-primary, .input-group-btn .btn:not(.btn-raised).btn-primary {
  color: theme-color("primary");
}
.btn:not(.btn-raised):not(.btn-link):focus, .btn:not(.btn-raised):not(.btn-link):hover, .input-group-btn .btn:not(.btn-raised):not(.btn-link):focus, .input-group-btn .btn:not(.btn-raised):not(.btn-link):hover {
  background: rgba(153,153,153,.2);
  // color: $white;
}
.btn:not(.btn-raised).btn-success, .input-group-btn .btn:not(.btn-raised).btn-success {
  color: theme-color("success");
}
.btn-group-vertical.disabled, .btn-group-vertical:disabled, .btn-group-vertical[disabled][disabled], .btn-group.disabled, .btn-group:disabled, .btn-group[disabled][disabled], .btn.disabled, .btn:disabled, .btn[disabled][disabled], .input-group-btn .btn.disabled, .input-group-btn .btn:disabled, .input-group-btn .btn[disabled][disabled], fieldset[disabled][disabled] .btn, fieldset[disabled][disabled] .btn-group, fieldset[disabled][disabled] .btn-group-vertical, fieldset[disabled][disabled] .input-group-btn .btn {
  background: 0 0;
  color: $gray-600;
}

.btn.hover-white {
  &:hover {
    color: $white;
    background: darken(theme-color("primary"), 10%) !important;
  }
}

.input-group {
  .input-group-addon {
    border: 0;
    background: 0 0;
    font-size: $font-size-lg;
  }
  &.active {
    .input-group-addon {
      color: theme-color("primary");
    }
  }
}

$autofill-bg-color:0 0 0 100px #FFF inset;



.form-group {
  position: relative;
  padding-bottom: 7px;
  margin: 28px 0 0 0;
  .form-control {
    margin-bottom: 7px;
    width: 100%;
    height: 38px;
    padding: 7px 0;
    font-size: 16px;
    line-height: 1.42857143;
  }
  .invailid-block {
    display: none;
    position: absolute;
  }
  &.is-empty {
    label {
      color: $gray-600;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      font-size: 1rem;
      cursor: text;
      -webkit-transition: -webkit-transform .2s ease-out;
      transition: -webkit-transform .2s ease-out;
      transition: transform .2s ease-out;
      transition: transform .2s ease-out, -webkit-transform .2s ease-out;
      -webkit-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      text-align: initial;
      -webkit-transform: translateY(7px);
      transform: translateY(7px);
      pointer-events: none;
      opacity: 0;
    }
  }
  label {
    color: $gray-600;
    -webkit-transform: translateY(-14px) scale(0.8);
    transform: translateY(-14px) scale(0.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  &.is-focused {
    .form-control {
      outline: 0;
      background-size: 100% 2px,100% 1px;
      box-shadow: none;
      transition-duration: .3s;
    }
    label {
      color: theme-color("primary");
      -webkit-transform: translateY(-14px) scale(0.8);
      transform: translateY(-14px) scale(0.8);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      font-size: 1rem;
      opacity: 1;
    }
  }
  // error state
  &.has-error {
    label {
      color: theme-color("danger");
    }
    .form-control {
      background-image: linear-gradient(theme-color("danger"), theme-color("danger")),linear-gradient($gray-200, $gray-200);
      // border-bottom: 2px solid theme-color("danger");
      // box-shadow: 0 1px 0 0 theme-color("danger");
      &.is-valid {
        background-image: linear-gradient(theme-color("danger"), theme-color("danger")),linear-gradient(theme-color("danger"), theme-color("danger"));
      }
    }
    .invailid-block {
      color: theme-color("danger");
      display: block;
      margin-top: -5px;
    }
  }
}
.skin-blue .form-control, .skin-blue .form-group .form-control {
  background-image: linear-gradient(theme-color("primary"), theme-color("primary")),linear-gradient($gray-200, $gray-200);
}
.skin-blue .form-group.is-focused .form-control {
  background-image: linear-gradient(theme-color("primary"), theme-color("primary")),linear-gradient($gray-200, $gray-200);  
}

.form-control, .form-group .form-control {
  border: 0;
  background-image: -webkit-gradient(linear,left top,left bottom,from($teal),to($teal)),-webkit-gradient(linear,left top,left bottom,from($gray-200),to($gray-200));
  background-image: -webkit-linear-gradient($teal,$teal),-webkit-linear-gradient($gray-200,$gray-200);
  background-image: -o-linear-gradient($teal,$teal),-o-linear-gradient($gray-200,$gray-200);
  background-image: linear-gradient($teal,$teal),linear-gradient($gray-200,$gray-200);
  -webkit-background-size: 0 2px,100% 1px;
  background-size: 0 2px,100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom,center -webkit-calc(100% - 1px);
  background-position: center bottom,center calc(100% - 1px);
  background-color: rgba(0,0,0,0);
  -webkit-transition: background 0s ease-out;
  -o-transition: background 0s ease-out;
  transition: background 0s ease-out;
  float: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  &:-webkit-autofill {
    box-shadow: $autofill-bg-color;
    border-bottom: 1px solid $gray-200;
  }

  &:-moz-autofill {
    box-shadow: $autofill-bg-color;
    border-bottom: 1px solid $gray-200;
  }

  &:autofill {
    box-shadow: $autofill-bg-color;
    border-bottom: 1px solid $gray-200;
  }
}

.action-group.time-range {
  width: 33%;
  display: flex;
  padding: 0 19px 0 0;
  .form-group {
    margin-top: 0;
    max-width: 400px;
    margin-left: auto;
    width: 100%;
  }
}

// material ripple

.withripple {
    position: relative;
}
.ripple-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: inherit;
    pointer-events: none;
}
.ripple {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    border-radius: 100%;
    background-color: #000; // fallback color
    background-color: rgba(0,0,0,0.05);
    transform: scale(1);
    transform-origin: 50%;
    opacity: 0;
    pointer-events: none;
}
.ripple.ripple-on {
    transition: opacity 0.15s ease-in 0s, transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
    opacity: 0.1;
}
.ripple.ripple-out {
    transition: opacity 0.1s linear 0s !important;
    opacity: 0;
}

.market-bg, .industry-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .main-box {
    display: flex;
    flex-direction: column;
    margin-top: -80px;
    h2 {
      max-width: 720px;
      color: $white;
      line-height: 1.4;
    }
    a.btn {
      width: 180px;
      margin: 0 auto;
      height: 40px;
      font-size: $font-size-lg;
      text-shadow: 1px 1px 1px rgba($black, 0.5);
      &:hover {
        color: $white;
      }
    }
  }
}
.market-bg {
  background-image: url("../images/marketbg.png");
}
.industry-bg {
  background-image: url("../images/industrybg.png");
}

.app-header.navbar {
  .dropdown-menu-right {
    right: 8px;
    left: auto;
  }
  .dropdown-menu {
    box-shadow: 0 2px 5px 0 rgba($black,.26);
  }
  .dropdown-item {
    color: $gray-600;
    border: 0;
    i {
      color: $gray-600;
    }
  }
}
.dropdown-toggle:after {
  content: none;
}

.dark-blue-bg {
  background: $blue-dark;
}

.main-white-logo {
  // position: absolute;
  // top: 55px;
  // left: calc(50% - 135px);
  width: 270px;
  margin-bottom: 10px;
}

.capcha {
  padding-bottom: 14px;
  margin: 0 8px;
  display: flex;
  justify-content: flex-end;
  max-width: 70px;
}
.login-card {
  border-radius: 2px;
  box-shadow: 0 0 14px rgba($black, 0.6);
  max-width: 360px;
}
.overlay {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 4;
  background-color: rgba($black,0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s all ease-out;
}
.sidebar-hidden {
  .overlay {
    display: none;
    opacity: 0;
  }
}
.tablesorter-header-inner {
  em {
    padding: 0 3px;
  }
}
// .tablesorter-header {
//   position: relative;
// }
// table.product-table thead .tablesorter-headerUnSorted:after, table.product-table thead .tablesorter-headerAsc:after, table.product-table thead .tablesorter-headerDesc:after {
//   position: absolute;
//   top: 8px;
//   right: 8px;
//   display: block;
//   font-family: 'FontAwesome';
//   opacity: 0.5;
// }
.tablesorter-headerUnSorted i:before {
  content: $fa-var-sort;
}
.tablesorter-headerAsc i:before {
  content: $fa-var-sort-amount-asc;
}
.tablesorter-headerDesc i:before {
  content: $fa-var-sort-amount-desc;
}
.tablesorter-header:focus {
  outline: 0;
}
.show-more-shop,.show-more-block {
  position: relative;
  z-index: 3;
  display: inline;
  span {
    border-bottom: 1px dotted $gray-500;
  }
  ul {
    list-style: none;
    display: none;
    position: absolute;
    top: 150%;
    left: 50%;
    margin: 0;
    margin-left: -70px;
    padding: 5px;
    background: $white;
    width: 150px;
    z-index: 11;
    opacity: 0;
    transition: all 0.3s ease-in;
    box-shadow: 0 0 2px rgba($black,0.3);
    li {
      padding: 5px;
      text-align: center;
    }
    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 5px 10px 5px;
      border-color: transparent transparent #FFF transparent;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
    }
    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7px 10px 7px;
      border-color: transparent transparent $gray-200 transparent;
      bottom: 100%;
      left: 50%;
      margin-left: -7px;
    }
    &.top-less {
      top: 105%;
    }
    &.bottom-right {
      left: auto;
      right: -50%;
      &:before, &:after {
        left: 76%;
      }
    }
    &.tooltip-right {
      top: -14px;
      left: 110%;
      margin: 0;
      &:before {
        right: 100%;
        top: 0;
        bottom: auto;
        margin-top: 13px;
        margin-left: auto;
        left: auto;
        border-width:5px;
        border-color: transparent $white transparent transparent;
      }
      &:after {
        right: 100%;
        top: 0;
        bottom: auto;
        margin-top: 11px;
        margin-left: auto;
        left: auto;
        border-width: 7px;
        border-color: transparent $gray-200 transparent transparent;
      }
      li {
        text-align: left;
      }
    }
    li:first-child {
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 120%;
        top: -10px;
        z-index: -1;
        left: 0;
      }
    }
  }
  &:hover {
    ul {
      display: block;
      opacity: 1;
    }
  }
  strong.h3 {
    color: $body-color;
  }
  i {
    color: $body-color;
    font-style: normal;
  }
}

.show-more-block {
  display: block;
  padding-bottom: 10px;
  z-index: 2;
}

.price-tool {
  margin-bottom: 1rem;
}
.card-min-h {
  // .card {
  //   max-height: 494px;
  // }
  .card-body {
    overflow: scroll; 
  }
}

.full-height {
  .col {
    // padding-bottom: 1.5rem;
  }
  .card {
    height: 120px;
    img {
      height: 100%;
    }
  }
  .pd-img {
    display: block;
    height: 120px;
    text-align: center;
  }
}
@media screen and (min-width: 1300px) {
  .card-min-h {
    .card {
      max-height: 454px;
    }
  }
  .table {
    .product-name, .shop-name {
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      // max-width: 300px;
      // // display: inline-block;
    }
  }
}
@media screen and (min-width: 1002px) and (max-width: 1299px) {
  .card-min-h {
    .card {
      min-height: 494px;
    }
  }
}
@media screen and (min-height: 1001px) {
  .card-min-h {
    .card {
      min-height: 528px;
    }
  }
}

@include media-breakpoint-down(lg) {
  .action-group.time-range {
    width: 40%;
  }
}

//
// Mobile layout
//

@include media-breakpoint-down(md) {
  .main, nav.app-header.navbar {
    padding-left: 0;
  }
  .sidebar .nav, .sidebar .sidebar-nav {
    width: 260px !important;
  }
  .sidebar {
    margin-left: 0;
  }
  .sidebar-hidden {
    .sidebar {
      transform: translateX(-300px);
    }
  }
  .overlay {
    display: block;
  }
  .product-item .text-right span.small {
    display: block;
  }
  .action-group.time-range {
    width: 50%;
  }

}
@include media-breakpoint-down(sm) { 
  .main-white-logo {
    width: 200px;
    top: 10px;
    left: calc(50% - 100px);
  }
  .card {
    .action-group {
      top: 40px;
    }
  }
  .product-info {
    .action-group {
      top: 16px;
    }
  }
  .img-box {
    width: 100%;
  }
  .card-min-h {
    .card {
      min-height: auto;
    }
  }
  .action-group.time-range {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0 0 15px;
    top: 0;
  }
}



